header {
    text-align: center;
    font-size: 400%;
  }

  h2 {
 font-style: red;
  }
  
  table {
   margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  table,
  tr,
  td {
    border: 3px solid purple;
    border-style: dashed;
   
  }
  
  td {
    padding: 1em;
  }
